
@import url('https://fonts.cdnfonts.com/css/satoshi');


body {
  margin: 0;
  padding: 0;
  background-image: url(blob-haikei.svg);
  background-repeat: no-repeat;
  font-family: 'Satoshi'; 
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #a929ff, #a68eff);
  border-radius: 10px;
}

header{
  font-weight: 100;
display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 125px ;
      gap: 0px 0px;
      align-items:center;
      align-content: center;
}

.logo{
  grid-column: 2/3;
  font-weight: 100;
  font-size: 69px;
}
.hogar{
  grid-column: 9/10;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  color: black;
}
.contacto{
  grid-column: 10/11;
  margin-left:30px ;
  margin-right: 30px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}
.hablemos{
  grid-column: 11/12;
  color: white;
  background-color: #03C4A1;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius:5px ;
  font-weight: 100;
  text-align: center;
  text-decoration: none; 
  
}


/* aqui empieza el titulo y los formularios de contacto*/

#titulo {
  grid-column: 2/6;
  grid-row: 2/3;
  margin-top: 250px;
  font-size: 58px;
  font-family: montserrat;
  font-weight: 600px;
}
#tip {
  grid-column: 2/4;
  grid-row: 3/4;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 600;
}
#tips1 {
  grid-column: 2/4;
  grid-row: 4/5;
  font-size: 12px;
  font-family: montserrat;
  font-weight: 600;
  opacity: 50%;
}
#tips2 {
  grid-column: 2/4;
  grid-row: 5/6;
  font-size: 12px;
  font-family: montserrat;
  font-weight: 600;
  opacity: 50%;
}
#tips3 {
  grid-column: 2/4;
  grid-row: 6/7;
  font-size: 12px;
  font-family: montserrat;
  font-weight: 600;
  opacity: 50%;
}
#titulocontacto {
  grid-column: 2/4;
  grid-row: 7/8;
  font-size: 58px;
  font-family: montserrat;
  font-weight: 600;
  margin-bottom: 0%;
}

.formulariogoogleforms {
  margin-top: 100px;
  grid-column: 6/15;
  grid-row: 2/8;
}

#whatsappboton {
  grid-column: 2/3;
  grid-row: 8/9;
  text-align: center;
  font-size: 20px;
  font-family: montserrat;
  font-weight: 500;
  text-decoration: none;
  color: white;
  height: 50px;
  width: 210px;
  padding: 10px;
  margin-left: 65px;
  background-color: #25d366;
  border-radius: 50px;
}




@media (max-width: 1300px){
  #hogar{
    margin-right: 50px;
  }

  .formulariogoogleforms{
    grid-column: 6/15;
  }
  .formulariogoogleforms iframe{
    height:540px;
    width: 600px;
  }
}


@media (max-width:1000px){
  .formulariogoogleforms{
    grid-column: 1/15;
    grid-row: 9/13;
  }
  .formulariogoogleforms iframe{
    height: 500px;
    width: 500px;
  }

  #titulo{
    margin-top: 300px;
    margin-left: 60px;
  }
  #tip{
    margin-left: 60px;
  }
  #tips1{
    margin-left: 60px;
  }
  #tips2{
    margin-left: 60px;
  }
  #tips3{
    margin-left: 60px;
  }

  #titulocontacto{
    grid-column: 1/15;
    text-align: center;
  }
}