
                            @import url('https://fonts.cdnfonts.com/css/satoshi');

                
                
body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi';      
              
}

header{
    font-weight: 100;
 display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 125px ;
        gap: 0px 0px;
        align-items:center;
        align-content: center;
}

.logo{
    grid-column: 2/3;
    font-weight: 100;
    font-size: 69px;
}
.hogar{
    grid-column: 9/10;
    font-weight: 100;
    text-align: center;
}
.contacto{
    grid-column: 10/11;
    margin-left:30px ;
    margin-right: 30px;
    font-weight: 100;
}
.hablemos{
    grid-column: 11/12;
    color: white;
    background-color: #03C4A1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius:5px ;
    font-weight: 100;
    text-align: center;
}
.inicio{
    display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items:center ;
        height: 100vh;
}
.imageninicio{
    height: 552px;
    grid-column: 11/12;
    grid-row: 1;
    align-self: self-start;
}

.titulo{
    grid-column: 2/10;
    font-size: 70px;
    grid-row: 1;
    text-align: start;
    align-self: self-start;
    margin-top: 50px;
}
.iconos{
    height: 400px;
    grid-column: 2/10;
    grid-row: 1;
    
}

.proyectos {
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    justify-items: center;
    
  }

/*servicios */
.servicios{
grid-column: 1/4;
height:400px;
display: grid;
grid-template-columns: 1fr 350px 1fr;
align-items: center;
justify-content: center;
justify-items: center;
}

/*parte de servicios */

#uiuxdesign{
    width: 293px;
    height: 337px;
    border-radius:25px ;
    background: rgb(3,196,161);
background: linear-gradient(137deg, rgba(3,196,161,1) 37%, rgba(245,172,255,1) 100%);
color: white;
justify-self: end;
}

#uiuxdesign h1{
    font-size: 50px;
    margin-top: 90px;
    margin-left: 10px;
}
#uiuxdesign img{
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}

/*servicio de desarrollo web */

#desarrollo-web{
    width: 293px;
    height: 337px;
    border-radius:25px ;
    background: rgb(173,242,229);
background: linear-gradient(137deg, rgba(173,242,229,1) 8%, rgba(245,172,255,1) 100%);
color: white;
}

#desarrollo-web h1{
    font-size: 50px;
    margin-top: 90px;
    margin-left: 10px;
}
#desarrollo-web img{
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}

/*marketing */

#marketing{
    width: 293px;
    height: 337px;
    border-radius:25px ;
    background: rgb(3,196,161);
background: linear-gradient(137deg, rgba(3,196,161,1) 37%, rgba(245,172,255,1) 100%);
color: white;
justify-self: start;
}

#marketing h1{
    font-size: 50px;
    margin-top: 90px;
    margin-left: 10px;
}
#marketing img{
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}


/*empiezan los cards */

  
  
  /*ESTOS ATRIBUTOS SE HEREDAN A TODAS LAS CARDS */
  .card{
    grid-column: 3/4;
    grid-row: 1/5;
    align-self: center;
  }
  #titulocard{
    grid-column: 1/3;
    grid-row: 1/3;
    margin-top: 100px;
    margin-left: 50px;
    font-size: 40px;
    font-family: montserrat;
    font-weight: 400;
  }
  #textocard{
    grid-column: 1/3;
    grid-row: 2;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 15px;
    font-family: montserrat;
    font-weight: 400;
  }
  .botonsitiweb{
    grid-column: 1/2;
    grid-row: 3;
    text-align: center;
    align-self: end;
    margin-left: 50px;
    font-size: 15px;
    font-family: montserrat;
    font-weight: 400;
    opacity: 60%;
  
  }
  .botonsitiweb a{
    text-decoration: none;
    padding:10px 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  
  /*termina AQUI LOS ATRIBUTOS*/
  
  
  
  /*card1*/
.contenedorcards  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 100px;
  background-color:#206EB0;
  height: 632px;
  width: 1104px;
  border-radius: 20px;
  transition-duration:0.5s;
  color: white;
}
.contenedorcards:hover{
  width: 1310px;
}
  
  
  
  
  
  /*card2*/
  .contenedorcards2  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 100px;
    background-color:#E4D6F8;
    height: 632px;
    width: 1104px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .contenedorcards2:hover{
    width: 1310px;
  }
  
  /*card3*/
  .contenedorcards3  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-top: 100px;
    background-color:#003E53;
    height: 632px;
    width: 1104px;
    border-radius: 20px;
    transition-duration: 0.5s;
    color: white;
  }
  .contenedorcards3:hover{
    width: 1310px;
  }
  
  /*card4*/
  .contenedorcards4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 100px;
    background-color:#E9C46A;
    height: 632px;
    width: 1104px;
    border-radius: 20px;
    transition-duration: 0.5s;
  }
  .contenedorcards4:hover{
    width: 1310px;
  }
  
  
  /*card5*/
  .contenedorcards5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-column: 2/3;
    grid-row: 6/7;
    margin-top: 100px;
    background-color:#B37FBC;
    height: 632px;
    width: 1104px;
    border-radius: 20px;
    transition-duration: 0.5s;
    color: white;
  }
  .contenedorcards5:hover{
    width: 1310px;
  }
  

/* EMPIEZAN LAS MEDIA QUERIES*/


@media (max-width:1300px) {
  .contenedorcards{
    height: 436px ;
    width: 760px;
  }
  .contenedorcards:hover{
    width: 810px;
  }

  /*los atributos heredados de las cards*/
  #titulocard{
   font-size: 20px;
  }
  #textocard{
   font-size: 10px;
  }
  .botonsitiweb{
  font-size: 10px;
  }
  .botonPWA{
    display: none;
  }
  .cardimagen img{
  height: 268px;
  width: 451px;
  grid-row: 1/2;
  }
  /*card2*/
  .contenedorcards2{
    height: 436px ;
    width: 760px;
  }
  .contenedorcards2:hover{
    width: 810px;
  }
  /*card3*/
  .contenedorcards3{
    height: 436px ;
    width: 760px;
  }
  .contenedorcards3:hover{
    width: 810px;
  }
  /*card4*/
  .contenedorcards4{
    height: 436px ;
    width: 760px;
  }
  .contenedorcards4:hover{
    width: 810px;
  }
  /*card5*/
  .contenedorcards5{
    height: 436px ;
    width: 760px;
  }
  .contenedorcards5:hover{
    width: 810px;
  }
}