
                            @import url('https://fonts.cdnfonts.com/css/satoshi');

                
                
body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi';      
              
}

header{
    font-weight: 100;
 display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 125px repeat(2, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items:center ;
}

.logo{
    grid-column: 2/3;
    font-weight: 100;
    font-size: 69px;
}
.hogar{
    grid-column: 9/10;
    font-weight: 100;
}
.contacto{
    grid-column: 10/11;
    margin-left:30px ;
    margin-right: 30px;
    font-weight: 100;
}
.hablemos{
    grid-column: 11/12;
    color: white;
    background-color: #03C4A1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius:5px ;
    font-weight: 100;

}
.inicio{
    display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        align-items:center ;
        height: 100vh;
}
.imageninicio{
    height: 552px;
    grid-column: 11/12;
    grid-row: 1;
    align-self: self-start;
}

.titulo{
    grid-column: 2/10;
    font-size: 70px;
    grid-row: 1;
    text-align: start;
    align-self: self-start;
    margin-top: 50px;
}
.iconos{
    height: 400px;
    grid-column: 2/10;
    grid-row: 1;
    
}

/*parte de servicios */

#uiuxdesign{
    width: 293px;
    height: 337px;
    border-radius:25px ;
    background: rgb(3,196,161);
background: linear-gradient(137deg, rgba(3,196,161,1) 37%, rgba(245,172,255,1) 100%);
color: white;

}

#uiuxdesign h1{
    font-size: 50px;
    margin-top: 90px;
    margin-left: 10px;
}
#uiuxdesign img{
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}

/*servicio de desarrollo web */

#desarrollo-web{
    width: 293px;
    height: 337px;
    border-radius:25px ;
    background: rgb(173,242,229);
background: linear-gradient(137deg, rgba(173,242,229,1) 8%, rgba(245,172,255,1) 100%);

}

#desarrollo-web h1{
    font-size: 50px;
    margin-top: 90px;
    margin-left: 10px;
}
#desarrollo-web img{
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
}

